.imgProfile {
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: relative;
}

.flag {
  height: 36px;
}

/* .flag:hover {
  transform: scale(0.7);
  cursor: pointer;
} */

.pointer {
  cursor: pointer;
}

.inputSearch {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border: 0;
}

/* .buttonSearch {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  height: 100%;
} */

.searchTopIcon {
  background-color: #fff !important;
  border: 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  height: 100%;
}

.navbar {
  padding: 0;
  background-color: #eaeaea;
}

.imgLogo {
  max-width: 220px;
}

.lessCaret button::before {
  display: none !important;
}
