.dropDownSearch {
  position: absolute;
  top: 37px;
  display: flex;

  width: 95.5%;
  border: 1px solid #ced4da;
  border-radius: 0 0 5px 5px !important;
  background-color: white;
  padding: 0 0 0 0;
  opacity: 0;
  transition: opacity 0.4s;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
}

.dropDownSearchActive {
  z-index: 20;
  opacity: 1;
}

.divCheckboxs {
  /* background: rgb(234, 234, 234); */
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.previewImage {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.suggestionContainer {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  cursor: pointer;
  padding: 10px;
  display: flex;
}

.suggestionContainer:hover {
  background-color: #f8f9fa;
}

.spanMatch {
  font-weight: bold;
  text-transform: capitalize;
}

.divName {
  display: flex;
  margin: auto;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: black;
}

.inputRadio {
  cursor: pointer;
}
.label {
  cursor: pointer;
}
