.flag {
  height: 36px;
}

.flag:hover {
  transform: scale(0.7);
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.band2 {
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

.nav {
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  /* height: 56px; */
  background: #fff;
}
.liNav {
  cursor: pointer;
  color: #161814;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.02em;
  padding: 1rem 1rem;
}

.liNav a {
  color: #161814;
}

.liNav:hover {
  border-bottom: 2px solid #ffca05 !important;
  padding-bottom: 14px;
}

/* .nav ul li a {
  color: #161814;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.02em;
  border: 0;
} */

.dropdownItem {
  display: block;
  width: 100%;
  /* padding: .25rem 1.5rem; */
  /* font-size: 14px; */
  padding: 0.1rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
}

.nav ul > li {
  display: inline-block;
  padding: 1rem 1rem;
}
.nav ul li ol {
  display: none;
  position: absolute;
  width: 100%;
}
.nav ul li:hover + div {
  display: block;
  left: 0;
  top: 54px;
  z-index: 9;
  background: #fff;
}
.overImportant {
  z-index: 11 !important;
}

.showDesplegable {
  display: block !important;
  left: 0;
  top: 54px;
}

.borderActive {
  background: #f5f5f5;
  border-bottom: 2px solid #ffca05 !important;
  padding-bottom: 14px !important;
}
.desplegable {
  display: none;
  width: 100%;
  left: 0;
  background-color: #ffffff;
  list-style: none;
  z-index: 15;
  position: absolute;
  border-bottom: 1px solid #ccc;
}

.desplegable > li {
  list-style: none;
}
.outSide {
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 15;
  position: absolute;
  left: 0;
  /* top: 186px; */
  top: 266px;
  display: none;
}
.showOutSide {
  display: block;
}

.navLink {
  /* color: #161814; */
  /* font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.02em; */
  /* border: 0; */
  /* background-color: transparent; */
}
.navLink:hover {
  border-bottom: 2px solid #ffca05 !important;
  padding-bottom: 14px;
}
.containerDesplegable {
  /* height: 128px; */
  height: auto;
}

.containerDesplegable li {
  cursor: pointer;
  padding: 0.1rem 1.5rem;
}

.containerDesplegable li:hover {
  background-color: #f8f9fa;
  color: #212529;
  border-color: #f8f9fa;
}

.link {
  /* color: #212529;
  font-weight: 400;
  text-decoration: none;
  text-align: inherit;
  background-color: transparent;
  font-size: 14px; */
}
.columnNavSearch {
  padding: 0.1rem 1.5rem;
}
.subtitleNavSearch {
  /* font-weight: 700;
  font-size: 14px;
  margin: 0px;
  line-height: 1.2;
  box-sizing: border-box;
  margin-bottom: 10px; */
}
.rowNavSearch {
  height: 40px;
}
.tabContent {
  top: 40px;
}

.liNav:hover .move {
  transform: rotate(180deg);
}

.liNav.borderActive .move {
  transform: rotate(180deg);
}

.move {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in 0s;
}

.overFlowHidden {
  overflow: hidden;
}
.megaMenu {
  padding-top: 20px;
  font-size: 14px;
  padding-bottom: 40px;
}

.megaMenu h5 {
  font-weight: 700;
  font-size: 14px;
  padding: 0.25rem 1.5rem;
  margin: 0;
}

.dropdownItem:focus,
.dropdownItem:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.navbarNav {
  margin-bottom: 0;
}