.pLine{
    white-space: pre;
}

.center {
    vertical-align: center;
    margin-left: 2px;
}

.signInBtn {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #212529;
    line-height: 1.5;
    border-radius: .3rem;
    font-weight: 500;
    font-size: .8rem;
    padding: .5rem 1.5rem;
    background-color: #FFCA05;
    border-color: #FFCA05;
    margin-left: 7px;
    margin-right: 15px;
    cursor: pointer;
}

.btn:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.btnLogin {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #212529;
    line-height: 1.5;
    border-radius: .3rem;
    background-color: transparent;
    border-color: #000000;
    font-weight: 500;
    font-size: .8rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
}