.btnLight {
    width: 100px;
    background-color: transparent;
    border-color: #000000;
    color: #000000;
    border: 1px;
    border-style: solid;
    text-decoration: none;
    border-radius: 5px;
  }
  .btnLight:hover {
    background-color: #e2e6ea;
    color: #212529;
    border-color: #dae0e5;
  }
  .btnLg {
    font-weight: 500;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
  }